@import "../../Main//Colors.scss";
.Menu {
    padding: 100px 0;
    background-color: $Bg2;
}
.MenuCards {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 80px;
}
.ExploreMore {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    button {
        padding: 10px 30px;
        letter-spacing: 0.5px;
        font-size: 16px;
    }
}
