h1 {
  font-size: 70px;
  color: #ffffff;
  letter-spacing: 1px;
  font-family: main_sb;
}

h2 {
  font-size: 40px;
  color: #1f0a00;
  letter-spacing: 1px;
  font-family: main_sb;
}

h3 {
  font-size: 24px;
  color: #1f0a00;
  letter-spacing: 1px;
  font-family: main_sb;
}

h4 {
  font-size: 22px;
  color: #1f0a00;
  letter-spacing: 1px;
  font-family: main_m;
}

p {
  font-size: 18px;
  color: #d3cbc6;
  letter-spacing: 1px;
  font-family: main_r;
}

.p2 {
  font-size: 16px;
  color: #695d57;
  font-family: main_r;
}

.DButton {
  background-color: #fe5000;
  border-radius: 8px;
  color: #ffffff;
  font-family: main_sb;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 8px 20px;
  cursor: pointer;
  border: 0;
  transition: 0.2s;
}
.DButton:hover {
  background-color: #ff6f37;
}

.CButton {
  background: transparent;
  border-radius: 8px;
  color: #1f0a00;
  font-family: main_r;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 8px 20px;
  cursor: pointer;
  border: 0;
}

img {
  user-select: none;
  pointer-events: none;
}

@media (max-width: 600px) {
  .SplitRow .InfoSide h1 {
    line-height: 45px;
  }
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 18px;
  }
  p {
    font-size: 16px;
  }
  .UserImage img {
    width: 90%;
    max-width: 540px;
  }
  .Feedbacks .SplitRow {
    padding-top: 50px;
  }
}