@import "./Colors.scss";
h1 {
    font-size: 70px;
    color: $White;
    letter-spacing: 1px;
    font-family: main_sb;
}
h2 {
    font-size: 40px;
    color: $Bg;
    letter-spacing: 1px;
    font-family: main_sb;
}
h3 {
    font-size: 24px;
    color: $Bg;
    letter-spacing: 1px;
    font-family: main_sb;
}
h4 {
    font-size: 22px;
    color: $Bg;
    letter-spacing: 1px;
    font-family: main_m;
}
p {
    font-size: 18px;
    color: $White_;
    letter-spacing: 1px;
    font-family: main_r;
}
.DButton {
    background-color: $MainColor;
    border-radius: 8px;
    color: $White;
    font-family: main_sb;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 8px 20px;
    border: 0;
}
