@import "../../Main/Colors.scss";

nav {
    padding: 30px 0;
}
.NavContent {
    display: flex;
    align-items: center;
    justify-content: space-between;

    ul {
        display: flex;
        align-items: center;
        gap: 30px;
        li {
            position: relative;
            display: flex;
            justify-content: center;
            list-style: none;
            font-family: main_r;
            color: $NavText;
            cursor: pointer;
            transition: 0.2s;

            &::before {
                content: "";
                position: absolute;
                bottom: -5px;
                height: 4px;
                aspect-ratio: 1;
                border-radius: 5px;
                background-color: $MainColor;
                opacity: 0;
                transition: opacity 0.2s, width 0.3s;
                width: 100%;
            }
            &:hover:before {
                opacity: 1;
                width: 4px;
            }
            &:hover {
                color: $MainColor;
            }
        }
        .liActive {
            font-family: main_sb;
            color: $MainColor;
            &::before {
                opacity: 1;
                width: 4px;
                border-radius: 50%;
            }
        }
    }
}
.LogoText {
    color: $Bg;
    font-family: main_sb;
    letter-spacing: 1px;
    font-size: 28px;
    span {
        color: $MainColor;
    }
}

.navToggle {
    position: fixed;
    background: $Bg2;
    display: flex;
    top: 20px;
    right: 20px;
    height: 50px;
    aspect-ratio: 1;
    z-index: 999;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0px 5px 28px rgba(0, 0, 0, 0.2);

    span {
        display: block;
        position: absolute;
        height: 3px;
        width: 65%;
        border-radius: 5px;
        background: $MainColor;
        transition: 0.2s;
        &:nth-child(1) {
            transform: translateY(-9px);
        }
        &:nth-child(3) {
            transform: translateY(9px);
        }
    }
}
.navToggleActive {
    span {
        &:nth-child(1) {
            transform: translateY(0) rotate(45deg);
        }
        &:nth-child(2) {
            opacity: 0;
        }
        &:nth-child(3) {
            transform: translateY(0) rotate(-45deg);
        }
    }
}
