nav {
  padding: 30px 0;
}

.NavContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.NavContent ul {
  display: flex;
  align-items: center;
  gap: 30px;
}
.NavContent ul li {
  position: relative;
  display: flex;
  justify-content: center;
  list-style: none;
  font-family: main_r;
  color: #695d57;
  cursor: pointer;
  transition: 0.2s;
}
.NavContent ul li::before {
  content: "";
  position: absolute;
  bottom: -5px;
  height: 4px;
  aspect-ratio: 1;
  border-radius: 5px;
  background-color: #fe5000;
  opacity: 0;
  transition: opacity 0.2s, width 0.3s;
  width: 100%;
}
.NavContent ul li:hover:before {
  opacity: 1;
  width: 4px;
}
.NavContent ul li:hover {
  color: #fe5000;
}
.NavContent ul .liActive {
  font-family: main_sb;
  color: #fe5000;
}
.NavContent ul .liActive::before {
  opacity: 1;
  width: 4px;
  border-radius: 50%;
}

.LogoText {
  color: #1f0a00;
  font-family: main_sb;
  letter-spacing: 1px;
  font-size: 28px;
}
.LogoText span {
  color: #fe5000;
}

.navToggle {
  position: fixed;
  background: #fffaf8;
  display: flex;
  top: 20px;
  right: 20px;
  height: 50px;
  aspect-ratio: 1;
  z-index: 999;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0px 5px 28px rgba(0, 0, 0, 0.2);
}
.navToggle span {
  display: block;
  position: absolute;
  height: 3px;
  width: 65%;
  border-radius: 5px;
  background: #fe5000;
  transition: 0.2s;
}
.navToggle span:nth-child(1) {
  transform: translateY(-9px);
}
.navToggle span:nth-child(3) {
  transform: translateY(9px);
}

.navToggleActive span:nth-child(1) {
  transform: translateY(0) rotate(45deg);
}
.navToggleActive span:nth-child(2) {
  opacity: 0;
}
.navToggleActive span:nth-child(3) {
  transform: translateY(0) rotate(-45deg);
}